*,
html {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 5px;
}

canvas {
  z-index: 1;
  border: 3px solid black;
  position: relative;
}

#game-over {
  z-index: 10;
  display: none;
  position: absolute;
  top: 80px;
  left: 45%;
  color: red;
  border-radius: 5px;
  background-color: lightgray;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  gap: 5px;
}

#game-over button {
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
}

.points {
  font-family: 'Inter';
  font-weight: 400;
}

.points span {
  font-weight: 700;
}
